/*Menú*/
[id]{
    scroll-margin-top: 90px;
}

#menu{
    background-color:rgb(200, 228, 238) !important;
}

#menu a {
    
}
#menu a:hover{
    color: dodgerblue !important;
}

#presentacion{
    text-align: justify;
}


/*Estudios y experiencia*/
#experiencia{
    height: 300px;
    align-items: center;
}

.card:hover{
    font-weight: bold;
    transform: scale(1.03);
}

#carousel{
    max-height: 28rem !important ;
}


/*Iconos*/
.icons li{
    margin: 10px;
    display: inline;
    width: 20px;
    font-size: 40px;
    color: var(--blanco);
}

.ico {
    margin: 0px 7px 0px 7px;
    text-decoration: none;
    text-transform:uppercase;
    color: #e0ebed;
}

.ico:hover{
   color:cornflowerblue;
}


/*Estilos de tabla*/
.container {
    margin-top: 50px;
  }

  input{
    height: 50px;
    border-color:black;
    border-radius: 10px; 
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .btn-submit {
    margin-top: 10px;
  }
  
  .table {
    margin-top: 20px;
  }

  .sortable {
    cursor: pointer;
  }

  .sort-asc::after,
  .sort-desc::after {
    content: '▼';
    margin-left: 5px;
  }
  
  .sort-asc::after {
    content: '▲';
  }
  