:root{
    --blanco: white;
    --negro: black;
    --gris: grey;
    --color-secundario: #17a2b8;
    --fuente-principal:Verdana, Geneva, Tahoma, sans-serif;
    --fuente-secundaria:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body{
    font-family: var(--fuente-principal);
}

header{
    position: sticky;
    top: 0px;
    z-index: 1;
}


/*Menú de navegación*/
.nav { 
    width: auto;
    background-color: var(--negro);
    display: flex;
    justify-content: flex-end;     
}

.nav li{
    display: inline-flex;
    padding: 20px;
}

.nav a:hover{
    color:var(--color-secundario);      
}

.nav a {
    text-decoration: none;
    text-transform:none;
    font-weight: bold;
    color: var(--blanco);
    font-size:  17px;
}


/*Margen superior entre los links y la barra de navegación*/

[id]{
    scroll-margin-top: 70px;
}

[id="sobre_mi"]{
    scroll-margin-top: 120px;
}


/*Box portada*/

.box {
    height: 520px;
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    background-image: url(img/img4.png);
    background-size:cover;

      
}

.foto_perfil{
    margin-right: 170px;
    position: relative;
     
}

.foto_perfil img{

    width: 350px;  
    border-radius: 50%;  
    position: relative;
    top: 50px;
}
 



.titulo h1{
    display: flex;
    color: var(--blanco);
    font-family:var(--fuente-secundaria);
    font-weight: bold;
    font-size: 35px; 
    position: relative;
    top: 40%;
}

.icons {
    display: flex;    
    justify-content: center;
    position: relative;
    top: 45%;
    
}

.icons li{
    margin: 10px;
    display: inline;
    width: 20px;
    font-size: 35px;
    color: var(--blanco);
    align-items: center;
}

.ico {
    text-decoration: none;
    text-transform:uppercase;
    color: #e0ebed;
}

.ico:hover{
   color:var(--color-secundario);
}

@media (max-width: 1050px) {
    .foto_perfil {
       margin: auto; 
      /*display: none;*/
    }

    .box{
        height: 700px;
        display:grid;
    }

    .nav {
        justify-content: center;
       
    }

    
    .sobre_mi {
        margin: auto;
        padding: auto;
        width: auto;
        height: auto;
    }
    
}

@media (max-width: 650px) {
    .nav li {
        display: flex;
        flex-direction: column;
        text-align: center;
        display: none;
    }

    h1 {
        text-align: center;
    }

}

/*Main*/

/* main {
    background: linear-gradient(to top left, rgb(75, 75, 75), white);
} */

main h2{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

/*Sección Sobre mi*/
.sobre_mi {
    width: 940px;
    height: 400;
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    padding: 70px;
    font-size: 18px;
    line-height: 35px; 
    text-align:center;
    
}   
@media (max-width: 1050px) {
    .sobre_mi{
        width: auto;

    }
    
}

/*Sección Estudios*/
.section-estudios{
    padding: 70px;
    margin-top: 50px;
}

.inst {
    font-style: oblique;
    margin-bottom: 1rem;
}

/*Contenedor Boxes*/
.estudios {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/*Box*/
.box-estudios {
    width: 300px;
    height: 250px;
    margin: 10px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align:center;
    
    box-sizing:border-box;
    background-color: rgb(243, 241, 241);
    border-radius: 40px;
   
    /*Sombreado*/
    -webkit-box-shadow: 6px 4px 14px -7px rgba(38, 38, 38, 0.49);
    -moz-box-shadow: 6px 4px 14px -7px rgba(73, 72, 72, 0.49);
    box-shadow: 6px 4px 14px -7px rgba(66, 66, 66, 0.49);
        
} 

.box-estudios h3{
    font-weight: bold;
    font-size: 18px;
}


.box-estudios:hover{
    background-color:#e0ebed;
    font-size: 17px;
    
}




/*Sección experiencia*/
.experiencia{
    margin: 70px;
}

.container{
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
}

.container h4{
    font-weight: bold;
    
}

.trabajo{
    text-align: center;
    line-height: 20px;
    margin: 40px;
}

.anho {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: var(--color-secundario);
    margin-top: 40px;
	display: flex;
	justify-content: center;

	align-items: center;
	text-align: center;
    font-weight: bold;
    color: var(--blanco);
    
}

hr {
    color: #17a2b8;
    width: 100px;
    border: 3px solid var(--color-secundario);
    border-radius: 10px;
}

#bold{
    font-weight: bold;
}

.div-section {
    color: #17a2b8;
    width: 350px;
    border: 3px solid var(--color-secundario);
    border-radius: 10px;
}


/*Formulario*/

.formulario {
    color:var(--blanco);
    background-image: url(img/images.jpg);
    background-size:cover;
    opacity: 0.6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.contenedor-campos {
    margin: 0 auto;
}

.contenedor-campos input , textarea{
    
    width: 400px;
    height: 25px;
    margin: 10px;
    padding: 10px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid var(--color-secundario);
    border-radius: 7px;
    background-color: transparent;
    color: var(--blanco); 
}

.contenedor-campos textarea{
    height: 80px;
    font-family: var(--fuente-secundaria);
    font-size: 16px;
}



.enviar input {
    width: auto;
    height: auto;
    margin-top: 15px;  
    background-color: var(--color-secundario);
    float:right;
    
}


/*Footer*/

footer {
    padding: 20px;
    background-color: var(--negro);
    text-align: center;
}

footer p {
    color: var(--blanco);
    font-family: var(--fuente-principal);
    font-size: 14px;
    line-height: 20px;
}

