#carousel{
    max-height: 28rem !important ;
}

#presentacion{
    text-align: justify;
}

.card:hover{
    font-weight: bold;
    transform: scale(1.03);
}

.icons li{
    margin: 10px;
    display: inline;
    width: 20px;
    font-size: 40px;
    color: var(--blanco);
    align-items: center;
}

.ico {
    text-decoration: none;
    text-transform:uppercase;
    color: #e0ebed;
}

.ico:hover{
   color:var(--color-secundario);
}

#experiencia{
    
    height: 300px;
    align-items: center;
}






















/*Estilos de tabla*/
.container {
    margin-top: 50px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .btn-submit {
    margin-top: 10px;
  }
  
  .table {
    margin-top: 20px;
  }
  
  .sortable {
    cursor: pointer;
  }
  
  .sort-asc::after,
  .sort-desc::after {
    content: '▼';
    margin-left: 5px;
  }
  
  .sort-asc::after {
    content: '▲';
  }
  
 



































/*
:root{
    --blanco: white;
    --negro: black;
    --color-secundario: #17a2b8;
    --fuente-principal:Verdana, Geneva, Tahoma, sans-serif;
    --fuente-secundaria:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    font-family: var(--fuente-principal);
}

.separador {
    color: #17a2b8;
    width: 500px;
    border: 5px solid var(--color-secundario);
    border-radius: 10px;
    margin: 0 auto;   
}

Menu navegación
.nav{
    margin: 0 auto;
    justify-content: center; 
   align-items: flex-end;
      
 }

.nav a {
    text-decoration: none;
    text-transform:none;
    font-weight: bold;
    color: var(--blanco);
}

.nav a:hover{
    color:var(--color-secundario);      
}

Margen superior entre los links y la barra de navegación
[id]{
    scroll-margin-top: 90px;
}

Portada
.container-ls{
    padding: 20px 0px;
    background-image: url(img/img4.png);
    background-size:cover; 
    background-position: left; 
}

.fotoPerfil, .titulo, .icons{
    display: flex;

    justify-content: center;
}

.fotoPerfil img{
    margin-bottom: 20px;
    width: 350px;  
    border-radius: 50%;  
}

.titulo h1{
    color: var(--blanco);
    font-weight: bolder;
    font-family: var(--fuente-secundaria);
}
 
ul.ul_icons{
    padding: 0;
}

.icons li{
    margin: 10px;
    display: inline;
    width: 20px;
    font-size: 40px;
    color: var(--blanco);
    align-items: center;
}

.ico {
    text-decoration: none;
    text-transform:uppercase;
    color: #e0ebed;
}

.ico:hover{
   color:var(--color-secundario);
}

Main
main h2{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

Sobre mi
.texto {    
    width: 80%;
    padding: 70px 0px 40px 0px ;
    font-size: 18px;
    line-height: 35px; 
    text-align:center;   
}   

Estudios
.estudios{
    padding: 70px 0px 40px 0px ;
}

.card{
    margin: 10px;
    border-radius: 20px;
}

.card:hover{
    font-weight: bold;
    transform: scale(1.07);
}

experiencia
.container-md{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.trabajo{
    display: grid;
    text-align: center;
    line-height: 20px;
    margin: 50px;
}

.experiencia{
    padding: 70px;
    height: 400px;
    align-items: center;
}

.trabajo h4{
    font-weight:700;
}
.trabajo p{
    font-size: 18px;
}

Footer
footer {
    padding: 10px;
    background-color: var(--negro);
    text-align: center;
}

footer p {
    margin-top: 15px;
    line-height: 3px;
    font-size: 14px;
    color: var(--blanco);
    font-family: var(--fuente-principal); 
}
*/
